<div style="display: flex; margin: auto; width:60%">
  <div style="flexdirection: column;">
    <h1 style="display: inline-block">Disclosure Agreement</h1>
    <br>
    <p style="display: inline-block">
      By participating in this Experiment, you are willing to agree to the following terms and conditions:
    </p>
    <ol>
      <li>
        Your Username, Emailadress and Password will be saved as plain text.
        None of them will be used to connect findings of this study with your person.
        The sole purpose of this information is to distinguish between unique users during the experiment and its evaluation.
      </li>
      <li>
        All your game related interactions will be tracked. Everytime you submit an action, the type of action, timestamp,
        transaction value of the action and your role in the game will be stored. These logs will be used for the experiments evaluation.
      </li>
      <li>
        You will use the game controls only in the intended way and with the goal of serious participation. You especially
        won't use the games controls to input any in sense of the game untrue data.
      </li>
      <li>
        By participating, you're not qualifying for any compensation. You're welcome to enjoy the Pizza ordered by the l3s and the drinks supplied by Redouane Bouarar.
      </li>
    </ol>
  </div>
</div>
