<div>
  <p>
    <a class="card" routerLink="/play">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Play The Game</mat-card-title>
            <mat-card-subtitle>Click here to get started!</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions>
          <!-- <button class="cardbutton" mat-flat-button (click)="pair()" color="primary">Play!</button>-->
        </mat-card-actions>
      </mat-card>
    </a>
  </p>
  <p>
    <a class="card" routerLink="/highscore">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Highscores</mat-card-title>
            <mat-card-subtitle>Click here to view your score.</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
       </mat-card>
    </a>
  </p>
  <p>
    <a class="card" routerLink="/instructions">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Instructions</mat-card-title>
            <mat-card-subtitle>Info on how to play.</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </a>
  </p>
  <p>
    <a class="card" routerLink="/disclosure">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Disclosure Agreement</mat-card-title>
            <mat-card-subtitle>Info about the data gathered.</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </a>
  </p>
</div>
